[submodule "subconvert"]
	path = subconvert
	url = http://github.com/jwiegley/subconvert
[submodule "cmake/cmake-cxx11"]
	path = cmake/cmake-cxx11
	url = git://anongit.kde.org/scratch/dakon/cmake-cxx11.git
